@keyframes pulse {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.6;
    mix-blend-mode: screen;
    animation: pulse 5s ease-in-out infinite;
}

.blob1 {
    width: 400px;
    height: 400px;
    background: radial-gradient(circle at center, #213cb4, #5570e9);
    top: 10%;
    left: 0%;
}

.blob2 {
    width: 300px;
    height: 300px;
    background: radial-gradient(circle at center, #1633b6, #5570e9);
    bottom: 15%;
    right: 15%;
}

.blob3 {
    width: 350px;
    height: 350px;
    background: radial-gradient(circle at center, #401857, #7304a7);
    top: 40%;
    right: 5%;
}

.blob4 {
    width: 350px;
    height: 350px;
    background: radial-gradient(circle at center, #2f51e7, #5570e9);
    top: 150%;
    right: 15%;
}

.blob5 {
    width: 350px;
    height: 350px;
    background: radial-gradient(circle at center, #5570e9, #1633b6);
    top: 90%;
    left: 10%;
}

.blob6 {
    width: 350px;
    height: 350px;
    background: radial-gradient(circle at center, #402688, #291755);
    top: 110%;
    left: 5%;
}

.blob7 {
    width: 350px;
    height: 350px;
    background: radial-gradient(circle at center, #1633b6, #5570e9);
    top: 200%;
    left: 15%;
}
