.typewriter {
    display: flex;
}

.typewriter h1 {
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    animation: typing 3s steps(19) forwards;
}

.cursor-diamond {
    position: fixed;
    width: 20px;
    height: 20px;
    background: #5570e9;
    box-shadow: 0 0 40px 1px #5570e9;;
    transform: translate(-50%, -50%) rotate(45deg);
    pointer-events: none;
    z-index: 1000;
}

.cursor-diamond::before {
    content: '';
    position: absolute;
    top: -4px; left: -4px; right: -4px; bottom: -4px;
    border: 2px solid #1e41db;
    border-radius: 0;
    transform-origin: center;
    animation: pulsateBorder 1s infinite;
    pointer-events: none;
    transform: scale(1);
}

@keyframes pulsateBorder {
    0%, 100% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.3); opacity: 0.6; }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;

  /* STATIC BORDER COLOR */
  background: linear-gradient(#212025, #212025);

  /* cut out the center */
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;

  pointer-events: none;
}


@keyframes spinBorder {
  to {
    --angle: 410deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 50deg;
  inherits: false;
}

.box:hover::before {
  background: conic-gradient(
    from var(--angle),
    #212025,
    #212025,
    #5570e9
  );

  animation: spinBorder 3s linear infinite;
}