html, body {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    font-family: "Qilka-Bold";
}

body {
    background-color: #0b0b0e;
    color: #dcdcdc;
    padding-bottom: 20px;
    cursor: none;
    font-family: "Qilka-Bold";
}

.content {
    align-items: flex-start;
    text-align: left;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 130px;
    padding-left: 16px;
    padding-right: 16px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}

.box {
    display: flex;
    position: relative;
    align-items: center;
    padding: 16px;
    width: 230px;
    height: 64px;
    transform: translateX(-50%);
}

.box.show {
    transform: translateX(0);
}

.box, .project {
    transition: transform 0.8s ease;
}

.box:hover, .project:hover {
    transform: translateY(-10px);
}

.box-title {
    font-size: 1.4rem;
    margin: 0;
}

.box-text {
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    top: 15px;
    left: 85px;
    margin-right: 15px;
}

.box-description {
    font-size: 1rem;
    margin-top: 0.1rem;
    color: #9e9e9e;
    font-weight: 300
}

.box-image {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    opacity: 0.8;
}

.project-image {
    position: relative;
    width: 492px;
    height: 383px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.project {
    padding: 24px;
    width: 492px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.project-title {
    padding-top: 20px;
}

.button {
    z-index: 1000;
    color: #ffffff;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.language-container {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    max-width: 70%;
    flex-wrap: wrap;
    bottom: 15px;
    position: absolute;
}

.language {
    width: 85px;
    height: 40px;
    background-color: #212025;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
}

.desc {
    width: 600px;
    margin-top: 0px;
    position: relative;
    font-size: 1.3rem;
}

.contact {
    z-index: 1000;
    padding: 2rem;
    width: 1032px;
    height: 140px;
}

.contact-title {
    font-size: 2rem;
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-link {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.email-link {
    background-color: #212025;
}

.github-link, .email-link {
    width: 80px;
}

.github-link, .button {
    background-color: #6516f7;
}

.email-link:hover {
    background-color: #4e4e4e;
    transform: scale(1.05);
}

.button:hover, .github-link:hover {
    background-color: #7f57ee;
    transform: scale(1.05);
}

.button:active, .contact-link:active {
    transform: scale(0.95);
}

.link {
    right: 60px;
    background-color:#2e53fa;
}

.link:hover {
    background-color: #5570e9
}

.box, .project, .contact {
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: #0b0b0e;
}

.project, .contact {
    border: 2px solid #212025;
}

.content,
.project,
.contact {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .content {
        padding-top: 80px;
    }

    .box {
        width: 40%;
        transform: none;
    }

    .box-text {
        position: relative;
        top: auto;
        left: auto;
    }

    .project,
    .project-image,
    .contact {
        width: 100%;
        height: auto;
    }

    .language-container {
        position: relative;
    }

    .contact-info {
        flex-direction: column;
        gap: 12px;
    }

    .desc {
        width: auto;
    }
}


@font-face {
  font-family: "Qilka-Bold";
  src: url("../Qilka-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}