html, body {
    z-index: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0b0b0e;
    color: #dcdcdc;
    font-family: Arial;
    padding-bottom: 20px;
    cursor: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 150px;
    padding-left: 16px;
    padding-right: 16px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}

.box {
    display: flex;
    position: relative;
    align-items: center;
    padding: 16px;
    width: 230px;
    height: 64px;

    transform: translateX(-50%);
    transition: transform 0.8s ease;
    overflow: hidden;
}

.box.show {
    transform: translateX(0);
}

.box:hover {
    transform: translateY(-10px);
}

.box-title {
    font-size: 1.4rem;
    margin: 0;
}

.box-text {
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    top: 15px;
    left: 85px;
    margin-right: 15px;
}

.box-description {
    font-size: 1rem;
    margin-top: 0.1rem;
    color: #9e9e9e;
    font-weight: 300
}

.box-image {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    opacity: 0.8;
}

.project-image {
    position: relative;
    width: 492px;
    height: 383px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.project {
    padding: 24px;
    width: 492px;
    height: 580px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.project-title {
    padding-top: 20px;
}

.button {
    z-index: 1000;
    color: #ffffff;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.language-container {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    max-width: 70%;
    flex-wrap: wrap;
    bottom: 15px;
    position: absolute;
}

.language {
    width: 85px;
    height: 40px;
    background-color: #212025;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
}

.desc {
    margin-top: 0px;
    position: relative;
    font-size: 1.2rem;
}

.contact {
    z-index: 1000;
    flex-direction: column;
    padding: 2rem;
    width: 1032px;
    height: 140px;
}

.contact-title {
    font-size: 2rem;
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-link {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.email-link {
    background-color: #212025;
}

.github-link, .email-link {
    width: 80px;
}

.github-link, .button {
    background-color: #6516f7;
}

.email-link:hover {
    background-color: #4e4e4e;
    transform: scale(1.05);
}

.button:hover, .github-link:hover {
    background-color: #7f57ee;
    transform: scale(1.05);
}

.button:active, .contact-link:active {
    transform: scale(0.95);
}

.link {
    right: 60px;
    background-color:#2e53fa;
}

.link:hover {
    background-color: #5570e9
}

.box, .project, .contact {
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: #0b0b0e;
}

.project, .contact {
    border: 2px solid #212025;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;

  /* STATIC BORDER COLOR */
  background: linear-gradient(#212025, #212025);

  /* cut out the center */
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;

  pointer-events: none;
}


@keyframes spinBorder {
  to {
    --angle: 410deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 50deg;
  inherits: false;
}

.box:hover::before {
  background: conic-gradient(
    from var(--angle),
    #212025,
    #212025,
    #5570e9
  );

  animation: spinBorder 3s linear infinite;
}


.box:hover::before {
  animation-play-state: running;
}
